---
interface Props {
  title: string;
  image: string;
  className: string;
  link?: string;
}

const { title, image, className, link } = Astro.props;
---

<a
  class={`group relative flex overflow-hidden rounded-2xl transition-all duration-300 hover:scale-[1.02] ${className}`}
  href={link}
  target="_blank"
  rel="noopener noreferrer"
>
  <img
    alt={title}
    src={image}
    class="absolute h-full w-full object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-50"
  />
  <div class="absolute inset-0 bg-gradient-to-t from-black/70 to-transparent"></div>
  <div class="relative flex h-full w-full flex-col justify-end p-6 text-white">
    <h2 class="mb-2 text-xl font-bold leading-tight text-white drop-shadow-[0_2px_2px_rgba(0,0,0,0.8)]">
      {title}
    </h2>
  </div>
</a>
