---
import SectionContainer from './SectionContainer.astro';
import SectionTitle from './SectionTitle.astro';
import ProjectItem from './ProjectItem.astro';

interface ProjectItem {
  title: string;
  image: string;
  altImage: string;
  sizes: {
    small?: string;
    medium?: string;
    large?: string;
  };
  link?: string;
}

const PROJECT_ITEMS: ProjectItem[] = [
  {
    title: 'Minimalistic Planning Poker for teams',
    image: '/project1.webp',
    altImage: 'Screenshot of Planning Poker application showing a minimalist interface for team estimation',
    sizes: {
      small: 'col-span-1 row-span-1',
      medium: 'col-span-2 row-span-2',
      large: 'col-span-2 row-span-2'
    },
    link: 'https://pppeople.vercel.app/welcome'
  },
  {
    title: 'Pokemon Cards filter',
    image: '/project3.webp',
    altImage: 'Interface showcase of Pokemon Cards application with filtering functionality',
    sizes: {
      small: 'col-span-1 row-span-1',
      medium: 'col-span-1 row-span-1',
      large: 'col-span-1 row-span-1'
    },
    link: 'https://pokedux-platzi.vercel.app/'
  },
  {
    title: 'Space ready for your next Project..',
    image: 'project2.webp',
    altImage: 'Placeholder image representing space for future project',
    sizes: {
      small: 'col-span-1 row-span-1',
      medium: 'col-span-1 row-span-1',
      large: 'col-span-1 row-span-1'
    }
  },
  {
    title: 'Library with filters and persistence',
    image: '/project5.webp',
    altImage: 'Screenshot of library application showing book collection with filter interface',
    sizes: {
      small: 'col-span-1 row-span-1',
      medium: 'col-span-2 row-span-1',
      large: 'col-span-2 row-span-1'
    },
    link: 'https://gallianoms-01.vercel.app/'
  }
];

const getResponsiveClasses = (sizes: ProjectItem['sizes']) => {
  return `
    ${sizes.small || ''}
    ${sizes.medium ? `md:${sizes.medium}` : ''}
    ${sizes.large ? `lg:${sizes.large}` : ''}
  `.trim();
};
---

<SectionContainer>
  <SectionTitle
    title="Featured Projects"
    id="projects"
  />

  <div class="overflow-hidden max-w-7xl rounded-lg p-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-3 auto-rows-[250px]">
      {
        PROJECT_ITEMS.map(project => (
          <ProjectItem
            title={project.title}
            image={project.image}
            altImage={project.altImage}
            className={getResponsiveClasses(project.sizes)}
            link={project.link}
          />
        ))
      }
    </div>
  </div>
</SectionContainer>
