---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import MainContainer from '@/components/MainContainer.astro';
import '@fontsource-variable/inter';

const { title, description } = Astro.props;
const image = Astro.props.image ?? 'twitter-card.png';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.png"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>

    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:url"
      content={Astro.url}
    />
    <meta
      property="og:title"
      content={title}
    />
    <meta
      property="og:description"
      content={description}
    />
    <meta
      property="og:image"
      content={new URL(image, Astro.url)}
    />

    <meta
      property="twitter:card"
      content="summary_large_image"
    />
    <meta
      property="twitter:url"
      content={Astro.url}
    />
    <meta
      property="twitter:title"
      content={title}
    />
    <meta
      property="twitter:description"
      content={description}
    />
    <meta
      property="twitter:image"
      content={new URL(image, Astro.url)}
    />
  </head>
  <body class="min-h-screen bg-slate-950">
    <div class="fixed inset-0 -z-10">
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
      >
      </div>
    </div>

    <MainContainer>
      <Header />
      <main>
        <slot />
        <script data-goatcounter="https://jsalvadev.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
      </main>
      <Footer />
    </MainContainer>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    color: #f8fafc;
    font-family: 'Inter Variable', sans-serif;
  }
</style>
